@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700;800&family=Poppins:wght@200&family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap');


body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Oxanium';
    margin: 0 auto;
    padding: 15px;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 15px;
}

li {
    display: inline-block;
    flex-direction: row;
    margin: 25px;
    font-size: 20px;
}
a {
    color: white;
}

a:hover {
    color: rgb(132, 14, 201);
    transition: all 0.3s;
}

main {
    margin-top: 50px;
}

span {
    color: #840ec9;

}

h2 {
    font-size: 32px;
    text-align: center;

}

p {
    font-size: 15px;
    line-height: 10px;
    margin-bottom: 50px;
    text-align: center;
}


.imagens {
    display: flex;
    flex-wrap: wrap;
}


.box {
   width: 360px;
   display: flex;
  margin-left: 60px;
  margin-bottom: 50px;
  -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box:hover {
  opacity: 40%;
  cursor: pointer;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.neon-bt {

    position: relative;
  
    display: inline-block;
    margin-left: 550px;
    padding: 10px 20px; 
    color: #c592e2;  
    font-size: 16px;  
    text-decoration: none;  
    text-transform: uppercase;  
    overflow: hidden;
    transition: 0.2s;
    margin-top: 10px;
    letter-spacing: 4px
  
  }
   
  
  .neon-bt:hover {
  
    background: #840ec9;
  
    color: #fff;
  
    border-radius: 5px;
  
    box-shadow: 0 0 5px #840ec9, 
                0 0 25px #840ec9, 
                0 0 50px #840ec9, 
                0 0 100px #840ec9;
  
  }
  
   
  .neon-bt span {

    position: absolute;
  
    display: block;
  
  }

  .neon-bt span:nth-child(1) {

    top: 0;  
    left: -100%;  
    width: 100%;  
    height: 2px; 
    background: linear-gradient(90deg, transparent, #840ec9);  
    animation: btn-anim1 1s linear infinite;  
  }
  
   
  
  @keyframes btn-anim1 {
  
    0% {
  
      left: -100%;
  
    }
  
    50%,100% {
  
      left: 100%;
  
    }
  
  }


  .neon-bt span:nth-child(2) {

    top: -100%;  
    right: 0;  
    width: 2px;  
    height: 100%; 
    background: linear-gradient(180deg, transparent, #840ec9); 
    animation: btn-anim2 1s linear infinite; 
    animation-delay: .25s
  
  }
  
   
  
  @keyframes btn-anim2 {
  
    0% {
  
      top: -100%;
  
    }
  
    50%,100% {
  
      top: 100%;
  
    }
  
  }


  .neon-bt span:nth-child(3) {

    bottom: 0; 
    right: -100%; 
    width: 100%;  
    height: 2px;  
    background: linear-gradient(270deg, transparent, #840ec9);  
    animation: btn-anim3 1s linear infinite;  
    animation-delay: .5s
  
  }
  
   
  
  @keyframes btn-anim3 {
  
    0% {
  
      right: -100%;
  
    }
  
    50%,100% {
  
      right: 100%;
  
    }
  
  }
  
  .neon-bt span:nth-child(4) {

    bottom: -100%; 
    left: 0;  
    width: 2px;  
    height: 100%;  
    background: linear-gradient(360deg, transparent, #840ec9); 
    animation: btn-anim4 1s linear infinite;  
    animation-delay: .75s
  
  }
  
   
  
  @keyframes btn-anim4 {
  
    0% {
  
      bottom: -100%;
  
    }
  
    50%,100% {
  
      bottom: 100%;
  
    }
  
  }  
